


/* Aqui empieza la maquetación del proyecto */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-image: url(../img/hero@2x.jpg);
  background-position: top right;
  background-position-x: 110%;
  background-size: 800px;
  background-repeat: no-repeat;
  
}

.page {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header figure {
  margin: 0;
}

header figure img {
  width: 171px;
}

header figcaption {
  display: none;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 56px;
}

header nav ul li {
  max-width: 499px;
}

header nav ul a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #424241;
  text-decoration: none;
  padding: 2px 0;
}

/* Empieza el Hero */

.hero_content {
  max-width: 60%;
  margin-bottom: 40px;
}

.hero_content h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 110px;
  font-style: normal;
  line-height: 110px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.hero_content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  max-width: 480px;
  color: #909090;
  margin-bottom: 40px;
}

.hero_content a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  background-color: #7EDAD2;
  color: #FAFAFA;
  padding: 10px 20px;
  margin-bottom: 20px;
  line-height: normal;
}

.hero_content span {
  color: #7EDAD2;
}

.hero_number {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
  max-width: 480px;
}

.big_number {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  line-height: 50px;
  color: #424241;
}

.text_number {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  color: #909090;
}

.hero_number div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.categories article {
  background-color: white;
  padding: 24px;
}

.categories h3 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  line-height: 30px;
  color: #424241;
  margin-top: 8px;
  margin-bottom: 8px;
}

.categories p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  color: #909090;
}