


/* Aqui empieza la maquetación del proyecto */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
  --color-base: #FFFFFF;
  --color-text: #313131;
  --color-subcolor: #9B9A78;

}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-base);
  background-image: url(../img/Placeholder.jpg);
  background-repeat: no-repeat;
  background-position: top left 100px;
  background-size: 50%;
  background-position-y: 100px;
}


.container {
  max-width: 1300px;
  margin-left: 83px;
  margin-right: 83px;
  padding-left: 16px;
  padding-right: 16px;
}

header.header_container {
  padding-top: 33px;
  padding-bottom: 33px;
  display: flex;
  align-items: center;
}

nav.nav_container ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 100px;
}

nav.nav_container ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  
}

nav.nav_container .nav_home {
  color: var(--color-subcolor);
}

.header_btn {
  margin-left: auto;
  display: flex;
  gap: 20px;
  font-family: "poppins", sans-serif;
  align-items: center;
}

div.header_btn a:nth-child(3) {
  text-decoration: none;
  color: var(--color-base);
  background-color: var(--color-subcolor);
  font-weight: 400;
  font-size: 14px;
  padding: 10px 30px;
}

div.header_btn a:nth-child(2) {
  color: var(--color-subcolor);
}

/* Empieza el Hero */

.hero {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.hero__content {
  width: 55%;
  box-sizing: border-box;
}

.hero__header {
  background: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(8px);
  padding: 20px;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 47px;
  color: #313131;
  line-height: 60px;
  max-width: 500px;
  margin-top: 0;
  position: relative;
}

.hero h1::before {
  content: "";
  height: 8px;
  width: 72px;
  position: absolute;
  background-color: var(--color-subcolor);
  right: 0;
  top: 30px;
}

.hero__header p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #909090;
  max-width: 500px;
}

.hero__list {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.hero__list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.hero__list ul li {
  font-weight: 300;
  background-image: url(../img/Check.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px;
  padding-left: 30px;
  margin: 5px;
}

/* Empieza la sección de categorías */

.categories {
  display: flex;
  justify-content: space-between;
  gap: 220px;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  padding-left: 96px;
  padding-right: 96px;  
}

.categories article img {
  width: 60px;
}

.categories article h2 {
  font-size: 16px;
  color: var(--color-text);
  margin: 0;
  font-weight: 600;
}

.categories article p {
  font-size: 14px;
  color: gray;
}