/* Ejercicio 2 */

div.ejercicio2 {
    margin: 20px;
    padding: 20px;
    background-color: rgb(100, 252, 249);
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

div.ejercicio2 p {
    color: white;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px gray;
}

/* Ejercicio 3 */

div.ejercicio3 {
    margin: 20px;
    padding: 20px;
    background-color: rgb(244, 235, 191);
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

div.ejercicio3 p {
    color: white;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px  rgb(144, 143, 143);
}

/* Ejercicio 4 */

div.ejercicio4 {
    margin: 20px;
    padding: 20px;
    background-color: #6CFAFC;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

div.ejercicio4 p {
    color: white;
    font-size: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: -10px 10px #5EE3E2,
                 -20px 20px #57C6CC,
                 -30px 30px #54B7BC;
}

/* Ejercicio 5 */

div.ejercicio5 {
    margin: 20px;
    padding: 20px;
    background-color: rgb(244, 235, 191);
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

div.ejercicio5 p {
    color: white;
    font-size: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 0px 3px #ABA494,
                 0px 23px 5px #BAB194,
                 0px 33px 5px #D2C7AB;
}

/* Ejercicio 6 */

div.ejercicio6 {
    margin: 20px;
    padding: 20px;
    background-color: #222222;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

div.ejercicio6 p {
    color: #161616;
    font-size: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px  #303030;
}

/* Ejercicio 7 */
div.ejercicio7 {
    margin: 20px;
    padding: 20px;
    background-color: #b5c0d8;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgb(215, 213, 213),
                -2px -2px 5px rgb(215, 213, 213);
}

div.ejercicio7 p {
    color: #161616;
    text-align: center;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}