/* Ejercicio 1*/

.container.ejercicio1 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 30px 30px 30px;
    gap: 10px;
}

.container.ejercicio1 div {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    padding-top: 5px;
}

/* Ejercicio 2*/

.container.ejercicio2 {
    display: grid;
    grid-template-columns: 20px 50px;
    grid-template-rows: 20px 50px;
    gap: 2px;
}

.container.ejercicio2 div {
    background-color: rgb(9, 173, 151);
    color: white;
    text-align: center;
    
}

.container.ejercicio2 div:nth-child(3) {
    padding-top: 75%;
}

.container.ejercicio2 div:nth-child(4) {
    padding-top: 30%;
}

/* Ejercicio 3*/

.container.ejercicio3 {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
}

.container.ejercicio3 div {
    background-color: rgb(247, 178, 190);
    color: white;
    text-align: center;
    
}

/* Ejercicio 4*/

.container.ejercicio4 {
    display: grid;
    max-width: 500px;
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
    border: 2px solid lightgrey;
    grid-template-rows: 50px 50px 50px;
}

.header {
    grid-area: header;
    display: flex;
    background-color: red;
    color: white;
    align-items: center;
    justify-content: center;
}

.main {
    grid-area: main;
    display: flex;
    background-color: lightskyblue;
    color: white;
    align-items: center;
    justify-content: center;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    background-color: green;
    color: white;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-area: footer;
    display: flex;
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
}

/* Ejercicio 5 */

.container.ejercicio5 {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px 40px;
    gap: 2px;
}

.container.ejercicio5 div {
    background-color: rgb(69, 76, 93);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Ejercicio 6 */

.container.ejercicio6 {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px 40px;
    gap: 1px;
}

.container.ejercicio6 div {
    background-color: rgb(69, 76, 93);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container.ejercicio6 div:nth-child(1) {
    grid-column: 1 / span 3;
}

/* Ejercicio 7 */

.container.ejercicio7 {
    max-width: 500px;
    display: grid;
    grid-template-columns: 100px 150px 150px;
    grid-template-rows: 40px 40px 40px;
    gap: 1px;
}

.container.ejercicio7 div {
    background-color: rgb(69, 76, 93);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container.ejercicio7 div:nth-child(1) {
    grid-column: 1 / span 3;
}

.container.ejercicio7 div:nth-child(2) {
    grid-row: 2 / span 2;
}

/* Ejercicio 8 */

.container.ejercicio8 {
    max-width: 500px;
    display: grid;
    grid-template-areas: 
    "numero11 numero11 numero11"
    "numero22 numero33 numero44"
    "numero22 numero55 numero66";
    gap: 1px;
    grid-template-rows: 40px 40px 40px;

}

.container.ejercicio8 div {
    background-color: rgb(69, 76, 93);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif; 
}

.numero11 {
    grid-area: numero11;
}

.numero22 {
    grid-area: numero22;
}

/* Ejercicio 9 */

.container.ejercicio9 {
    max-width: 500px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 40px 40px 40px 40px;
    gap: 1px;
}

.container.ejercicio9 div {
    background-color: rgb(69, 76, 93);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container.ejercicio9 div:nth-child(1) {
    grid-area: 1 / 1 / span 1 / span 3;
}

.container.ejercicio9 div:nth-child(2) {
    grid-area: 1 / 4 / span 2 / span 1;
}

/* Ejercicio 10 */

