.maestra {
    border: 3px solid red;
    width: 300px;
    height: 180px;    
}



.maestra div:nth-child(1) {
    background-color: #59B99D;
    color: white;
    

}

.maestra div:nth-child(2){
    background-color: #5296D5;
    color: white;
}

.maestra div:nth-child(3) {
    background-color: #925CB0;
    color: white;
}

.maestra div:nth-child(4) {
    background-color: #37485C;
    color: white;
}

.maestra div:nth-child(5) {
    background-color: #E9C644;
    color: white;
}

.maestra div:nth-child(6) {
    background-color: #D7833B;
    color: white;
}

.maestra div:nth-child(7) {
    background-color: #D65746;
    color: white;
}

.maestra div:nth-child(8) {
    background-color: #BEC3C7;
    color: white;
}

.maestra div:nth-child(9) {
    background-color: #64C979;
    color: white;
}

.maestra div:nth-child(10) {
    background-color: #4A9E86;
    color: white;
}

/* Ejercicio 6 */

.maestra.ejercicio6 {
    display: flex;
    background-color: white;
    
}  

.maestra.ejercicio6 div {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
    width: 20px;
    text-align: center;
}



/* Ejercicio 7 */

.maestra.ejercicio7 {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    height: 200px;
    min-height: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.maestra.ejercicio7 div {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;

}

/* Ejercicio 8*/

.maestra.ejercicio8 {
    display: flex;
    flex-wrap: wrap;
    background-color:  white;

}

.maestra.ejercicio8 div {
    width: 33.33%;
    text-align: center;
    font-size: 20px;

 }

 /* Ejercicio 9*/

 .maestra.ejercicio9 {
    display: flex;
    height: 20px;
    background-color: white;
 }

 .maestra.ejercicio9 div {
    flex: 1;
    text-align: center;
    font-size: 20px;

 }

 .maestra.ejercicio9 div:nth-child(5) {
    order: -1;
 }

 .maestra.ejercicio9 div:nth-child(6) {
    order: 2;
 }