@import "./abstracts/abstracts";
@import "./vendors/vendors";
@import "./base/base";
@import "./components/components";
@import "./layout/layout";
@import "./pages/pages";
@import "./themes/themes";
@import "settings";

h1 {
    color: red;
    @include breakpoint(tablet) {
        color: blue;
    }
    @include breakpoint(tablethorizontal) {
        text-align: center;
        color: green;
    }
    @include breakpoint(desktop) {
        text-align: left;
        color: yellow;
    }
    @include breakpoint(desktopxl) {
        text-align: right;
        color: purple;
    }
}
