h1 {
    font-size: 2.5em;
    color: blue;
}

p {
    font-size: 1.3em;
    color: red;
}

h2 {
    font-size: 2em;
    color: green;
}

h3 {
    font-size: 1.5em;
    color: orange;
}

background {
    background-color: purple;
}

.destacado {
    color: yellow;
}

a {
    color: pink;
}

.grande {
    font-size: 3em;
}

.destacado.grande {
    border: 1px solid red;
}

#comentario {
    color: teal;
}

#comentario.destacado {
    background-color: lime;
}