.conteiner {
    width: 550px;
    height: 300px;
    background-color: gainsboro;
    padding: 10px;
    font-size: xx-large;
    position: relative;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}


.ejercicio1 .rojo {
    width: 40%;
    height: 50px;
    background-color: red;
}

.ejercicio1 .azul {
    width: 40%;
    height: 50px;
    background-color: blue;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.ejercicio1 .verde {
    width: 40%;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.ejercicio1 .amarillo {
    width: 40%;
    height: 100px;
    background-color: yellow;
    position: absolute;
    right: 10px;
    top: 10px;
}

.ejercicio2 .rojo {
    width: 20%;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ejercicio2 .azul {
    width: 20%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.ejercicio2 .verde {
    width: 20%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.ejercicio2 .amarillo {
    width: 20%;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.ejercicio3 .rojo {
    width: 50%;
    height: 100px;
    position: absolute;
    bottom: 40px;
    right: 110px;
    z-index: 3;
}

.ejercicio3 .azul {
    width: 50%;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 90px;
    z-index: 1;
}

.ejercicio3 .verde {
    width: 25%;
    height: 110px;
    position: absolute;
    top: 100px;
    left: 55px;
    z-index: 2;
}

.ejercicio3 .amarillo {
    width: 32%;
    height: 150px;
    position: absolute;
    top: 45px;
    right: 50px;
    z-index: 2;
}

.ejercicio4 .rojo {
    display: inline-block;
    width: 20%;
    height: 230px;
}

.ejercicio4 .azul {
    display: inline-block;
    width: 20%;
    height: 230px;
}

.ejercicio4 .verde {
    display: inline-block;
    width: 20%;
    height: 230px;
}

.ejercicio4 .amarillo {
    display: inline-block;
    width: 20%;
    height: 230px;
}