.ejercicio1.caja1 {
  border: red solid 5px;
  width: 250px;
  height: 200px;
  background-color: lightgray;
  margin: 25px;
  padding: 10px;
  font-size: large;
  line-height: 1.5em;
}

.ejercicio1.caja2 {
  border: green solid 7px;
  width: 300px;
  height: 200px;
  background-color: gray;
  padding: 5px;
  color: white;
  font-size: x-large;
  margin: 0%;
}

.ejercicio2.contenedor {
  border: red solid 5px;
  padding: 10px;
}

.ejercicio2.caja1 {
  border: green solid 5px;
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 0;
}

.ejercicio2.caja2 {
  border: blue solid 5px;
  width: 50%;
  margin-top: 10px;
  margin-left: 50px;
  padding: 10px 0;
}

.ejercicio2.caja3 {
  border: orange solid 5px;
  width: 50%;
  margin-top: 10px;
  margin-left: 100px;
  padding: 10px 0;
}

.ejercicio3.caja1 {
  border: red solid 5px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.ejercicio3.caja2 {
  border: blue solid 5px;
  padding: 25px 0;
  margin-bottom: 10px;
}

.ejercicio3.caja3 {
  border: green solid 5px;
  padding: 50px 0;
}

.ejercicio4.caja1 {
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-top-color: green;
  border-bottom-color: red;
  margin-bottom: 10px;
  border-width: 5px;
  border-left-style: dashed;
  border-right-style: dashed;
  border-left-color: blue;
  border-right-color: orange;
  text-align: center;
  padding: 20px;
}

.ejercicio4.caja2 {
  margin-bottom: 10px;
  border-style: inset;
  border-left-color: black;
  border-right-color: black;
  border-top-color: cyan;
  border-bottom-color: pink;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top-width: 7px;
  border-bottom-width: 7px;
  text-align: center;
  padding: 15px;
  
}

.ejercicio4.caja3 {
  text-align: center;
  padding: 10px;
  border: 5px solid black;
}