.myHeader {
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: rgb(107, 188, 238);
    background-image: url(../img/balloons.jpg);
    background-position: top, right;
    background-size: 100%;
    width: 350px;
    }

.myHeader h2 {
    background-color: rgb(0,0,0,.5);
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0%;

}