table.ejercicio1 {
    font-family: Arial, Helvetica, sans-serif;
}

table.ejercicio1 th, table.ejercicio1 td {
    padding: 15px 70px;
    font-weight: normal;
}

table.ejercicio1 thead {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table.ejercicio1 td {
    font-weight: normal;
    text-align: center;
}

table.ejercicio1 tbody tr:nth-child(odd) {
    background-color: #EEEEEE;
}

table.ejercicio1, table.ejercicio1 th, table.ejercicio1 td {
    border-spacing: 0px;
}

/* Ejercicio 2 */

table.ejercicio2 {
    font-family: "Inter", "Roboto", "Segoe UI", Arial, sans-serif;
}

table.ejercicio2 th, table.ejercicio2 td {
    padding: 10px 30px;
    text-align: start;
}

table.ejercicio2 thead {
    background-color: #43967C;
    color: white;
}

table.ejercicio2 tbody tr:nth-child(even) {
    background-color: #EEEEEE;
    color: #65A38F;
}

table.ejercicio2, table.ejercicio2 th, table.ejercicio2 td {
    border-spacing: 0px;
}

table.ejercicio2 tbody tr:last-child td {
  border-bottom: 2px solid #2f8f83;
}

table.ejercicio2 tbody tr:nth-child(2) td {
  border-bottom: 1px solid #E3E3E3;
  border-top: 1px solid #E3E3E3;
  font-weight: bold;
}

table.ejercicio2 thead th {
    font-weight: 600;
}


/* Ejercicio 3 */

table.ejercicio3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid black;
}

table.ejercicio3 th, table.ejercicio3 td {
    padding: 15px 30px;
    font-weight: 600;
}

table.ejercicio3 thead {
    background-color: #333333;
    color: white;
}

table.ejercicio3 tbody th {
    background-color: #3F66C5;
    color: white;
    text-align: start;
    padding-left: 10px;
}

table.ejercicio3 tbody th.other {
    background-color: #2F54C6;
}

table.ejercicio3 tbody tr:nth-child(even) {
    background-color: #EEEEEE;
}

table.ejercicio3 tbody tr {
    text-align: center;
}

table.ejercicio3 tbody tr td.high {
    background-color: #F9D94A;
    font-weight: bold;
}

table.ejercicio3, table.ejercicio3 th, table.ejercicio3 td {
    border-spacing: 0px;
}

/* Ejercicio 4 */

table.ejercicio4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    border-spacing: 0px;
}

table.ejercicio4 th, table.ejercicio4 td {
    padding: 15px 70px;
}

table.ejercicio4 tbody tr:nth-child(odd) {
    background-color: #EEEEEE;
}

table.ejercicio4 thead th {
    font-weight: normal;
}

table.ejercicio4 tbody tr a.btn {
    background-color: #3F66C5;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}

table.ejercicio4 tbody tr a.btn.btn--progress {
    background-color: #53A551;
} 

table.ejercicio4 tbody tr a.btn.btn--progress:hover {
    background-color: #336833;
} 


table.ejercicio4 tbody tr a.btn.btn--open {
    background-color: #F6C344;
    color: black;
}

table.ejercicio4 tbody tr a.btn.btn--open:hover {
    background-color: #a07f2c;
    color: white;
}

table.ejercicio4 tbody tr a.btn.btn--onhold {
    background-color: #CB444A;
}

table.ejercicio4 tbody tr a.btn.btn--onhold:hover {
    background-color: #7b2a2e;
}

/* Ejercicio 5 */

table.ejercicio5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    border-spacing: 0px;
}

table.ejercicio5 th, table.ejercicio5 td {
    padding: 15px 50px;
    text-align: center;
    font-size: 14px;
}

table.ejercicio5 thead {
    background-color: #5F13EF;
    color: white;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

table.ejercicio5 thead tr th {
    font-weight: normal;
}

table.ejercicio5 tbody th {
    font-weight: 600;
    background-color: #E9EBF7;
}

table.ejercicio5 tbody td:nth-child(2n+1) {
    background-color: #F5F6FB;
}

table.ejercicio5 tbody td a.btn2 {
    display: inline-block;
    background-color: #5F13EF;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
}